.root {
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 100vh;
  overflow: hidden;
  font-family: var(--mantine-font-family);
  background-color: var(--mantine-color-body);
}

.panels {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  overflow: hidden;
  min-height: 0;
}

.leftPanel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-right: 1px solid var(--mantine-color-dark-2);
}

.rightPanel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: var(--mantine-spacing-xs);
}
